<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
          <a routerLink="/test/1">1.testDemo</a>&nbsp;|&nbsp;
          <a routerLink="/formFields">2.formFields</a>&nbsp;|&nbsp;
          <a routerLink="/reactiveForm">3.reactiveForm</a>&nbsp;|&nbsp;
          <a routerLink="/matTables">4.matTables</a>&nbsp;|&nbsp;
          <a routerLink="/matPanels">5.matPanels</a>&nbsp;|&nbsp;
          <a routerLink="/asyncMethod">6.asyncMethod</a>&nbsp;|&nbsp;
          <a routerLink="/parentChild">7.parentChildren</a>&nbsp;|&nbsp;
          <a routerLink="/nestedFormarray">8.nestedArray</a>&nbsp;|&nbsp;
          <a routerLink="/inheritClass">9.inheritClass</a>&nbsp;|&nbsp;
          <a routerLink="/caseMilestone">10.Case Milestone</a>&nbsp;|&nbsp;
      </div>
    </div>
  </div> 
